#posts
  - @posts.in_groups_of(4, false) do |row_posts|
    - row_posts.each do |post|
      .post
        .row
          .col-lg-12
            = link_to post.title, post.link, target: "_blank", class: 'link lead bold'

        .row.top10
          .col-lg-12
            %small= "#{distance_of_time_in_words(Time.now, post.published_at).upcase} AGO"
 
        .row.top10
          .col-lg-12
            = post.excerpt


        .row.top10
          .col-lg-12
            .pull-right
              %span.bold.mashable= post.source.upcase
